{% extends 'base.html' %}
{% load static %}

{% block title %}{{object.first_name}} {{object.last_name}}{% endblock title %}

{% block content %}
<div class="container mt-2 mb-3">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <div>
      <h2>{{object.first_name}} {{object.last_name}}</h2>
      <h4>{{object.id}}</h4>
    </div>
    <div class="align-middle">
      <a class="btn btn-primary" href="{% url 'accounts:update_client' object.id %}" role="button">Actualizar</a>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body py-2">
      <p style="white-space: pre-line;" class="m-0">Cédula: {{object.document}}
        Telefono: {{object.phone_number}}
        Correo: {{object.email}}
        Dirección: {{object.address1}}
        Dirección 2: {% if object.address2 %}{{object.address2}}{% else %}No tiene{% endif %}
        Fecha de nacimiento:{{object.birthdate}}
        Fecha de Registro: {{object.date_joined}}</p>
    </div>
  </div>
  <div>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-loan-tab" data-toggle="tab" href="#nav-loan" >Prestamos</a>
        <a class="nav-item nav-link" id="nav-investment-tab" data-toggle="tab" href="#nav-investment" >Inversiones</a>
      </div>
    </nav>
    <div class="tab-content mb-3" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-loan" role="tabpanel" aria-labelledby="nav-loan-tab">
        <ul class="list-group list-group-flush">
          {% for loan in loans %}
          <li class="list-group-item d-flex justify-content-between">
            <div>
              {%if loan.name%}<span>Nombre: {{loan.name}}</span><br>{%endif%}
              <span>Codigo: {{loan.code}}</span><br>
              <span>Cantidad: {{loan.amount}}</span><br>
              <span>Tasa de interés: {% widthratio loan.interest_rate 1 100 %}%</span><br>
              <span>Número de cuotas: {{loan.installments_number}}</span><br>
              <span>Fecha de aplicacion: {{loan.application_date}}</span><br>
              <span>Fiador: {% if loan.guarantor %}{{loan.guarantor}}{% else %}Sin fiador{% endif %}</span><br>
              <span>Garantía: {% if loan.guarantee %}{{loan.guarantee}}{% else %}Sin garantía{% endif %}</span><br>
              {% if loan.checked and loan.approval_date %}
              <span class="text-success">Estado: Aprobado</span><br>
              <span>Fecha de aprobación: {{loan.approval_date}}</span><br>
              <span>Fecha de inicio: {{loan.start_date}}</span><br>
              <span>Fecha de término: {{loan.end_date}}</span><br>
              {% elif loan.checked == False %}
              <span class="text-info">Estado: Sin Revisar</span>
              {% else %}
              <span class="text-danger">Estado: Rechazado</span>
              {% endif %}
            </div>
            <a class="card-link" href="{% url 'financing:loan_details' loan.code %}">Ver detalles</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="tab-pane fade" id="nav-investment" role="tabpanel" aria-labelledby="-investnavment-tab">
        <ul class="list-group list-group-flush">
          {% for investment in investments %}
          <li class="list-group-item d-flex justify-content-between">
            <div>
              {%if investment.name%}<span>Nombre: {{investment.name}}</span><br>{%endif%}
              <span>Codigo: {{investment.code}}</span><br>
              <span>Cantidad: {{investment.amount}}</span><br>
              <span>Tasa de interés: {% widthratio investment.interest_rate 1 100%}%</span><br>
              <span>Número de cuotas: {{investment.installments_number}}</span><br>
              <span>Fecha de aplicacion: {{investment.application_date}}</span><br>
              <span>Cuenta bancaria: {{investment.bank_account}}</span><br>
              {% if investment.checked and investment.approval_date  %}
              <span class="text-success">Estado: Aprobado</span><br>
              <span>Fecha de aprobación: {{investment.approval_date}}</span><br>
              <span>Fecha de inicio: {{investment.start_date}}</span><br>
              <span>Fecha de término: {{investment.end_date}}</span><br>
              {% elif investment.checked == False %}
              <span class="text-info">Estado: Sin Revisar</span>
              {% else %}
              <span class="text-danger">Estado: Rechazado</span>
              {% endif %}
            </div>
            <a class="card-link" href="{% url 'financing:investment_details' investment.code %}">Ver detalles</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
