{% extends "base.html" %} {% load static %} {% load widget_tweaks %}
{% block title %}{{ page_title }}{% endblock title %}
{% block content %}
<div class="container mt-2">
  <div class="card w-100" style="width: 18rem;">
    <div class="card-body">
      <h4 class="card-title">{{object.document}}</h5>
      <h5 class="card-subtitle mb-2 text-muted">
        {{ object.first_name }} {{ object.last_name }}
      </h6>
      <form method="post">
        {% csrf_token %}
        <p class="card-text">Seguro desea dar de baja al cliente?</p>
        <a href="{% url 'accounts:client_details' object.id %}" class="btn btn-info card-link">Cancelar</a>
        <input
          class="btn btn-danger card-link"
          type="submit"
          value="Confirmar"
        />
      </form>
    </div>
  </div>
</div>
{% endblock content %}
