input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.icon {
  padding: 0.5rem 0.75rem;
  color: rgb(13, 13, 82);
}
body {
  background-color: whitesmoke !important;
}

.financing-month-filter {
  position: relative;
  /* background: orange; */
  bottom: 300px;
  left: 40%;
  width: 60%;
}
.financing-month-filter input[type="month"] {
  width: 40%;
}
.financing-month-filter input[type="submit"] {
  width: 15%;
}
#groupedMonthChartError {
  position: relative;
  bottom: 300px;
  color: red;
}

.horizontal-scrollable {
  overflow-x: auto;
  white-space: nowrap;
  display: block !important;
}

.horizontal-scrollable > .payment {
  display: inline-block;
  float: none;
}

.payment {
  width: 367px;
}