{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Financiamientos Pandora{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}" />
    {% block styles %} {% endblock styles %} {% block headScripts %} {% endblock headScripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.15.2/tingle.min.css"
      integrity="sha256-2gnCTFNhubDm8AiLEQsyFcFKK8/MmR66o1LrZsgSApE="
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">Financiamientos Pandora</a>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
              {% if user.is_authenticated and user.user_type == 1 %}
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Acciones
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if user.is_superuser %}
                <a
                  class="dropdown-item"
                  href="{% url 'accounts:signup_employee' %}"
                  >Registrar empleado</a
                >
                {% endif %}
                <a
                  class="dropdown-item"
                  href="{% url 'accounts:signup_client' %}"
                  >Registrar cliente</a
                >
                <div class="dropdown-divider"></div>
                {% if user.can_approve %}
                <a
                  class="dropdown-item"
                  href="{% url 'financing:aprove_financing' %}"
                  >Aprobar financiaciones</a
                >
                <a class="dropdown-item" href="{% url 'financing:statistics' %}"
                  >Estadísticas</a
                >
                {% endif %}
                <a
                  class="dropdown-item"
                  href="{% url 'financing:create_loan' %}"
                  >Crear préstamo</a
                >
                <a
                  class="dropdown-item"
                  href="{% url 'financing:create_investment' %}"
                  >Crear inversión</a
                >
                <a
                  class="dropdown-item"
                  href="{% url 'financing:create_guarantee' %}"
                  >Crear garantía</a
                >
                <a
                  class="dropdown-item"
                  href="{% url 'financing:create_guarantee_type' %}"
                  >Registrar tipo de garantía</a
                >
                <a
                  class="dropdown-item"
                  href="{% url 'accounts:search_client' %}"
                  >Buscar clientes</a
                >
              </div>
            </li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'accounts:logout' %}" class="nav-link"
                >Cerrar sesión</a
              >
            </li>
            <li class="nav-item">
              {%if not user.is_client %}
              <a class="nav-link text-light disabled"
                >Conectado como <strong>{{ user.first_name }}</strong>.</a
              >
              {% else %}
              <a
                href="{% url 'accounts:self_details' %}"
                class="nav-link text-light"
                >Conectado como <strong>{{ user.first_name }}</strong>.</a
              >
              {% endif %}
            </li>
            {% else %}
            <li class="nav-item">
              <a
                href="{% url 'accounts:login' %}"
                class="nav-link"
                role="button"
                >Iniciar sesión</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <div>
        {% block content %} {% endblock %}
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.15.2/tingle.min.js"
      integrity="sha256-HW9FyRCNRnMtYFcp2JokPJKlIXC+FD7BK49wh7r9PoM="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
    {% block javascript %} {% endblock javascript %}
  </body>
</html>
