{% extends "base.html" %}
{% block content %}
<div class="container responsive">
  <!-- Titulo -->
  <section class="mt-5">
    <h1 class="display-2 text-center">Bienvenido a Financiamientos Pandora</h1>
  </section>
  <!-- Seccion 1 (una seccion es el texto y la imagen ) -->
  <section>
    <div class="container mt-5">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="w-50">
          <h2 class="text-primary text-home-title">
            Realiza inversiones de forma segura y organizada
          </h2>
          <p class="text-home text-justify">
            Financiamientos Pandora te ofrece la posibilidad de generar ingresos
            mediante inversiones con tasas de interes que se adecuen a tu
            situacion economica
          </p>
        </div>
        <img
          class="img-home"
          src="https://cdn.discordapp.com/attachments/476050627760226334/735972146941263993/PP_grafica_2.png"
          alt=""
        />
      </div>
    </div>
  </section>
  <!-- Seccion 2 -->
  <section>
    <div class="container mt-5">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <img
          class="img-home"
          src="https://cdn.discordapp.com/attachments/476050627760226334/736013062733037568/PP_manos1.png"
          alt=""
        />
        <div class="w-50">
          <h2 class="text-primary text-home-title">
            Solicita prestamos acordes a tus necesidades
          </h2>
          <p class="text-home text-justify">
            Pierde el miedo a pedir un prestamo ya que en Financiamientos
            Pandora pensamos en el bolsillo de nuestros clientes y ofrecemos
            prestamos que se adecuan a su situacion economica
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Seccion 3 -->
  <section>
    <div class="container mt-5">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="w-50">
          <h2 class="text-primary text-home-title">
            Administra tus financiaciones
          </h2>
          <p class="text-home text-justify">
            Nuestra pagina ofrece un menu sencillo e intuitivo con el cual
            podras administrar los pagos de tus diferentes financiaciones
          </p>
        </div>
        <img
          id="img-time"
          src="https://cdn.discordapp.com/attachments/476050627760226334/736058930328895558/PP_cron1.png"
          alt=""
        />
      </div>
    </div>
  </section>
  <!-- Seccion 4 -->
  <section>
    <div class="container mt-5">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <img
          id="img-time"
          src="https://cdn.discordapp.com/attachments/476050627760226334/735993616434069595/reloj2.png"
          alt=""
        />
        <div class="w-50">
          <h2 class="text-primary text-home-title">
            Realizamos nuestros procesos de forma rapida
          </h2>
          <p class="text-home text-justify">
            Olvidate de estar esperando horas o incluso dias para que se
            realizen esos molestos tramites bancarios, en Financiamientos
            Pandora nos encargamos de todo eso y tu simplemente tendras que
            realizar el pago en nuestras oficinas o en uno de nuestros bancos
            asociados
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Pie de pagina -->
<footer class="mt-5 mb-0 py-3 bg-light">
  <h6 class="text-center">
    Contactanos al numero
    <span class="text-primary">3153698741</span>
  </h6>
  <h6 class="text-center">
    o al correo
    <a href="mailto:pandora.financing@gmail.com">
      <span class="text-primary">pandora.financing@gmail.com</span>
    </a>
  </h6>
  <h6 class="text-center mb-0">
    Nuestras oficinas estan ubicadas en :
    <span class="text-primary">Crr 3A No 3-35</span>
  </h6>
</footer>
</div>
{% endblock content %}
